#intro {
    background-image: url("/images/mountain.jpg");
    height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

#intro .profile-thumb {
    background: url("/images/profile.png");
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 390px;
    width: 400px;
    margin: 2rem 4rem;
    border-radius: 5%;
}

.navbar-brand {
    padding-right: 20%;
}

.info {
    font-family: 'math';
}

.text-white,
.about,
.navbar {
    font-family: auto;
}

.btn {
    font-family: 'Roboto';
    background-color: rgba(0, 0, 0, 0.65);
}

hr {
    opacity: 100 !important;
}

h1 {
    font-size: 3.5rem !important;
}

h4 {
    font-size: 2rem !important;
}

.about {
    font-size: 20px;
}