*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: rgba(136, 146, 176, 1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.3;
}
header {
  font-family: auto;
}
/* Navbar */
.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.879), rgba(0, 0, 0, 0.112));
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
}
.brand {
  max-height: 40px;
  max-width: 40x;
}
ol li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: rgb(168, 213, 3);
  font-size: 12px;
  text-align: right;
}
ol li {
  counter-increment: item 1;
}
.navbar a,
#intro a {
  font-family: monospace;
}
.navbar a {
  font-variant: all-small-caps;
}
ul .social-item i {
  color: rgb(168, 213, 3);
}
/*Header*/
header .name {
  font-size: 3rem;
  letter-spacing: 0.1em;
}

.mtn-image {
  background-image: url("/images/mountain.jpg");
  box-shadow: 0px 0px 1.1em 0.7em rgb(0 0 0),
    rgb(209, 166, 102) 0 10px 1.5em 0.5em;
  background-position: center;
  background-size: cover;
  position: relative;
  height: fit-content;
  z-index: 2;
}
.mask {
  background-color: rgba(0, 0, 0, 0.806);
  position: relative;
  z-index: 3;
}
.info {
  color: rgb(105, 134, 0);
}
.nav-greeting {
  color: rgb(168, 213, 3);
  font-family: monospace;
}
header .title {
  font-family: auto;
  color: #d6d0c8;
  font-size: 3rem;
}
#intro .btn {
  outline: 5px double rgb(168, 213, 3);
  font-family: "Roboto";
  background-color: rgba(0, 0, 0, 0.822);
  color: #fff;
}
#intro .btn:hover {
  background-color: rgb(50, 50, 50);
  color: #fff;
}
.info {
  font-size: xx-large;
}

/* a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
} */

/*Left Nav*/
.left-nav {
  width: 0px;
  position: fixed;
  bottom: 0px;
  left: 30px;
  right: auto;
  z-index: 1;
}
.left-nav-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.left-nav-list li a {
  padding: 5px;
  color: rgb(43, 54, 5);
  font-size: 15px;
  writing-mode: vertical-lr;
  position: relative;
  font-weight: 500;
}
.left-nav-list li a svg {
  width: 20px;
  height: 20px;
}
svg.feather {
  fill: none;
}
.left-nav-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(43, 54, 5);
}

/*Right Nav*/
.right-nav {
  width: 0px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 30px;
  z-index: 1;
}
.right-nav-item {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.right-nav-item a {
  padding: 10px;
  font-size: 15px;
  line-height: 5px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: rgb(43, 54, 5);
  font-weight: 500;
}
.right-nav-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(43 54 5);
}
@media (max-width: 991px) {
  .left-nav,
  .right-nav {
    display: none;
  }
}

/*Main Content*/
.main-count {
  counter-reset: section 0;
}
main h1,
main h2,
main h3,
main h4,
main h6 {
  margin: 0px 0px 10px;
  font-weight: 300;
  color: rgb(209, 166, 102);
  line-height: 1.1;
  font-variant: all-petite-caps;
}

/*Section: About*/
#about .bg-image {
  max-width: 100%;
  margin-bottom: 2rem;
  border-radius: 5%;
  box-shadow: rgb(0, 0, 0) 8px 8px 15px;
  border: 6px double rgb(105, 132, 0);
  overflow: hidden;
}
/*
#about .bg-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
} */

/*Section: Skills*/
.bg {
  background-color: rgb(74 94 0 / 40%);
}
.card-header {
  font-size: 22px;
  background-color: rgb(42 53 0);
}

.cards {
  font-size: 1.4rem;
}

.card {
  transition: all 150ms ease-in-out;
  box-shadow: black 6px 6px 10px;
}
@media (max-width: 991px) {
  #skills i,
  .card-title {
    font-size: 15px;
  }
}
/* .card-container {
  padding-top: 25%;
}
 */
.project-title {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.card:hover,
.btn:hover,
.nav-item:hover {
  transform: scale(1.05);
  color: white;
}

/* @media (max-width: 971px) {
  .cards {
    display: block;
  }

  .card {
    margin-left: auto !important;
    margin-right: auto !important;
  }
} */

section {
  margin: 0px auto;
  /*   padding: 100px 0px;
 */
}

/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

p:last-child,
p:last-of-type {
  margin: 0px;
}

p {
  margin: 0px 0px 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img,
svg,
.gatsby-image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.projects {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.projects a {
  position: relative;
  z-index: 1;
}

.projects-li:not(:last-of-type) {
  margin-bottom: 100px;
}

.projects-li {
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.projects-li:nth-of-type(2n + 1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}

/* @media (max-width: 1080px) {
  .projects-li:nth-of-type(2n + 1) .project-content {
    grid-column: 5 / -1;
  }
}

.projects-li .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

@media (max-width: 1080px) {
  .projects-li .project-content {
    grid-column: 1 / 9;
  }
}

.projects-li .project-title {
  color: rgb(72, 33, 33);
  font-size: clamp(24px, 5vw, 28px);
}

@media (min-width: 768px) {
  .projects-li .project-title {
    margin: 0px 0px 20px;
  }
} */

.projects-li .project-description {
  box-shadow: 0 10px 30px -15px rgb(72, 33, 33);
  /*   transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);*/
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: rgb(149, 153, 136);
  color: white;
  font-size: 20px;
}

.projects-li:nth-of-type(2n + 1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.projects-li .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.projects-li:nth-of-type(2n + 1) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}

.projects-li .project-tech-list li {
  margin: 0px 20px 5px 0px;
  color: rgb(72, 33, 33);
  font-size: 17px;
  white-space: nowrap;
}

.projects-li:nth-of-type(2n + 1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.projects-li .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: rgb(72, 33, 33);
}

.projects-li .project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}

svg.feather {
  fill: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  vertical-align: middle;
}

.projects-li .project-links a svg {
  width: 20px;
  height: 20px;
}

.projects-li .project-links a.external svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}

.projects-li:nth-of-type(2n + 1) .project-image {
  grid-column: 1 / 8;
}

.projects-li .project-image {
  box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.projects-li .project-image a {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  vertical-align: middle;
}

.projects-li .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.projects-li .project-image .img {
  border-radius: 4px;
}

.contact-me {
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}
.overline::before {
  bottom: 0px;
  font-size: 14px;
}
.overline {
  margin-bottom: 50px;
  display: block;
  color: green;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: 600;
}

.numbered-heading::before {
  position: relative;
  bottom: 0px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: green;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 600;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.contact-me .title {
  font-size: clamp(40px, 5vw, 60px);
}

.contact-me .email-link {
  color: green;
  background-color: transparent;
  border: 1px solid green;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
}

.footer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}
