#intro {
    background-image: url("/images/mountain.jpg");
    height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

#intro .profile-thumb {
    background: url("/images/profile.png");
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10%;
}

.navbar-brand {
    padding-right: 20%;
}